/* PHASE 7: Online */
.online {
    background: #0c0;
    color: white;
    font-weight: bold;
    position: absolute;
    transform: rotate(-45deg) translateX(-25%);
    padding: 5px 30px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: -10px;
    left: -10px;
    font-size: 12px;
    box-shadow: 0 1px 0 0 #070;
}

.profile-picture {
    overflow: hidden;
}